<mat-toolbar class="header">

  <button mat-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
  <h3 class="offset">Cookbook</h3>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="side-nav" mode="side" opened="false" [fixedInViewport]="false" [fixedTopGap]="false"
  [fixedBottomGap]="false">
    <p-table [value]="recipes">
      <ng-template pTemplate="header">
          <tr>
              <th>Recipes</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-recipe>
          <tr>
              <td>
                <label (click)="onSelect(recipe)">{{recipe.name}}</label>
                <i class="material-icons alignright" (click)="onDelete(recipe)">remove_circle</i>
                <i class="material-icons alignright" (click)="editRecipe(recipe)">build</i>
              </td>
          </tr>

      </ng-template>
      <ng-template pTemplate="footer">
          <tr>
              <td (click)="generateRecipe()">Add Recipe <i class="material-icons alignright">add_circle</i></td>
            </tr>
            <tr>
                <td routerLink="/shopping">Shopping List <i class="material-icons alignright">add_shopping_cart</i></td>
              </tr>
      </ng-template>
  </p-table>


  </mat-sidenav>
  <mat-sidenav-content class="recipeDetail">

    <div *ngIf="welcome">
      <h3>Welcome to the Wroblewski Family Cookbook</h3>
      <br/>
      <h3>Eat!</h3>
    </div>

    <div *ngIf="selectedRecipe">
      <h2>{{ selectedRecipe.name | uppercase }} Details: ({{selectedRecipe.id}})</h2>



      <br/>
      <div><span>Ingredients: </span></div>
      <mat-table #ingredientsTable [dataSource]="selectedRecipe.ingredients">
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ingredient">
          <mat-header-cell *matHeaderCellDef> Ingredient </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="ingredientsColumn"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ingredientsColumn;"></mat-row>
      </mat-table>

      <br/>

      <mat-table #instructionsTable [dataSource]="selectedRecipe.instructions">
        <ng-container matColumnDef="instruction">
          <mat-header-cell *matHeaderCellDef> Instruction </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.instruction}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="instructionsColumn"></mat-header-row>
        <mat-row *matRowDef="let row; columns: instructionsColumn;"></mat-row>
      </mat-table>


    </div>

    <form *ngIf="newRecipe" #recipeForm="ngForm">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <div class="ui-inputgroup ui-g-1">
                    <label>Name : </label>

                </div>
                <div class="ui-inputgroup ui-g-5">
                    <input id="recipeName" name="name" type="text" size="30" pInputText [(ngModel)]="newRecipe.name" required minlength="4" #name="ngModel">

                    <div *ngIf="name.invalid && (name.dirty || name.touched)"  class="ui-message ui-messages-error ui-corner-all">
                      <i class="fa fa-close"></i>
                      <div *ngIf="name?.errors.required">
                        Name is required.
                      </div>
                      <div *ngIf="name?.errors.minlength">
                        Name must be at least 4 characters long.
                      </div>
                    </div>
                </div>

                <div class="ui-inputgroup ui-g-1">
                    <label>Cooktime : </label>
                </div>
                <div class="ui-inputgroup ui-g-5">
                    <p-dropdown [options]="cookTimeOptions" [(ngModel)]="newRecipe.cooktime" name="cooktime"></p-dropdown>
                </div>
          </div>
          <br/>
          <div class="ui-g-12">
              <h4>Ingredients</h4>


              <p-table [value]="newRecipe.ingredients" >
                  <ng-template pTemplate="header">
                      <tr>
                          <th colspan="5">Type</th>
                          <th colspan="5">Ingredient</th>
                          <th colspan="2">Actions</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-ing>
                      <tr>
                          <td colspan="5">
                            <input id="amount" name="amount" type="text" pInputText [(ngModel)]="ing.amount" required minlength="4" #amount="ngModel" style="display:table-cell; width:100%">
                            <div *ngIf="amount.invalid && (amount.dirty || amount.touched )"  class="ui-message ui-messages-error ui-corner-all">
                              <i class="fa fa-close"></i>
                              <div *ngIf="amount?.errors.required">
                                Ingredient amount is required
                              </div>
                              <div *ngIf="amount?.errors.minlength">
                                Ingredient amount must be at least 4 characters long.
                              </div>
                            </div>
                          </td>
                          <td colspan="5">
                            <input id="type" name="type" type="text" pInputText [(ngModel)]="ing.type" required minlength="4" #type="ngModel" style="display:table-cell; width:100%">
                            <div *ngIf="type.invalid && (type.dirty || type.touched )"  class="ui-message ui-messages-error ui-corner-all">
                              <i class="fa fa-close"></i>
                              <div *ngIf="type?.errors.required">
                                Ingredient type is required
                              </div>
                              <div *ngIf="type?.errors.minlength">
                                Ingredient type must be at least 4 characters long.
                              </div>
                            </div>
                          </td>
                          <td colspan="2">
                            <p-button label="add" (onClick)="addIngRow(newRecipe.ingredients, ing)"></p-button>
                            <p-button label="remove" *ngIf="newRecipe.ingredients.length != 1" (onClick)="removeIngRow(ing)"></p-button>
                          </td>
                      </tr>

                  </ng-template>
              </p-table>


          </div>

          <div class="ui-g-12">
              <h4>Instructions</h4>

              <p-table [value]="newRecipe.instructions" >
                  <ng-template pTemplate="header">
                      <tr>
                          <th colspan="10">Instruction</th>

                          <th colspan="2">Actions</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-inst>
                      <tr>
                          <td colspan="10">
                            <input id="instText" name="instText" type="text" pInputText [(ngModel)]="inst.instruction" required minlength="4" #instText="ngModel" style="display:table-cell; width:100%">
                          </td>

                          <td colspan="2">
                            <p-button label="add" (onClick)="addInstRow(newRecipe.instructions, inst)"></p-button>
                            <p-button label="remove" *ngIf="newRecipe.instructions.length != 1" (onClick)="removeInstRow(inst)"></p-button>
                          </td>
                      </tr>
                      <div *ngIf="instText.invalid && (instText.dirty || instText.touched )"  class="ui-message ui-messages-error ui-corner-all">
                        <i class="fa fa-close"></i>
                        <div *ngIf="instText?.errors.required">
                          Instruction amount is required
                        </div>
                        <div *ngIf="instText?.errors.minlength">
                          Instruction must be at least 4 characters long.
                        </div>
                      </div>
                  </ng-template>
              </p-table>



          </div>
          <br/>

          <p-button label="Save Recipe" (onClick)="submitRecipe(newRecipe)" [disabled]="!recipeForm.form.valid"></p-button>

        </div>


    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
